@charset "utf-8";
/* titulos */
h1{
    color:#020500;
    font-size: 350%;
    font-weight:bolder !important;
}

/*titulo bloco1 e 2*/
h2{
    color:#292C29;
    font-size:140%;
    font-family:futura-pt, sans-serif;
    font-weight:600 !important;
}

/**titulo bloco3**/
h3{
    text-align:center;
    color:#fc514e;
    font-size: 140%;
    font-weight:bolder;
}
/**titulos dos cards**/
h4{
    font-weight:bolder;
    text-align:center;
}
strong{
    font-weight:bolder;
}

body{
  background-color: #eeeeee;
  width:100%;
  font-family:futura-pt, sans-serif;
  font-size:100%;
}
.logonav{
    width:15%;
}
.nav-link:focus {
  color: #00c7a8;
  outline: none;
}
.nav{
    display:flex;
    justify-content: center;
    width:100%;
}
.nav-item a:hover {
  color: #FFFFFF;
}
.nav li{
    background-color:#080808;
    animation: aparecer 3s;
    width:15%;
    text-align: center;
    color: #00c7a8;
    font-weight:bolder;
}
.nav-link{
  font-weight:bolder;
  color: #00c7a8;
}
.jumbotron{
    position: relative;
    z-index: 1;
    margin-bottom:0;
}
.bloco1{
    background: url('imagens/background-final.png');
    position:relative;
    background-position: center 800px; /* move the image down by 50 pixels */
    background-size: 100% auto;
    padding-top: 30%;
}
.imagem-container {
  position: relative;
  top: -60px; /* Altere o valor de acordo com a posição desejada */
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-after-card{
    margin-top:5%;

}
/************cards**************/
.card {
  color:#000000;
  height:40vh;
  width: 30%;
  align-items: center;  
  margin-left:3%;
  background:#00c7a8;
  border-radius:30px;
  border: 2px solid #080808;
}
.card-img-top{
    margin:5%;
    width:15%;
}
.card-title{
    text-align:center;
    font-weight:500;
}
.card-deck {
  padding:4%;
  display: -ms-flexbox;
  display: flex;
}

.btn{
  margin-top: 5%;
  border:2px solid #080808;
  color:#080808;
  width:auto;
  background-color: #00c7a8;
}
.btn-outline-light:hover {
  color: #080808;
  background-color: #f8f9fa;
  border-color: #080808;
}
/******style do rodapé****/
.footer{
  background-color:#eeeeee;
  width:100%;
  padding-top:2%;
  padding-bottom:2%;
  color:#67777D;
  padding-left:5%;
}
.footer a {
text-decoration: none;
}
.footer .row{
  margin:auto;
  width:100%;
}
.margem{
  margin-bottom: 2%;
}

@media (min-width:1800px){
    .logonav{
        width:10%;
    }
    .margem{
      margin-top: 3%;
    }
}

@media (max-width:1000px){
  .bloco1{
    background-position: center 700px; /* move the image down by 50 pixels */
    padding-top: 60%;
  }
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }   
  .logonav{
    width:30%;
  }
  .nav{
      width:100%;
  }
  .nav-item{
      text-align:center;
      font-size:30%;
      width:100%;
  }
  .btn-center strong {
    margin:auto;
    text-align: center;
    font-size:60%;
  }
  .margem{
    padding-top:5%;
  }
}

